<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.safe4i.usf.visualisation.Activator"
               id="org.safe4i.usf.visualisation"
	       name="USFedit Visualisation">
    </component>
  </extension>
</plugin>
