/.USFLanguageSemanticHightlightingCalculator.java._trace
/.USFLanguageHighlightingConfiguration.java._trace
/USFLanguageHighlightingConfiguration.java
/USFLanguageSemanticHightlightingCalculator.java
